/build/
/download/
.idea/tasks.xml
.idea/workspace.xml
/node_modules/
.project
.settings
*.swp
/Selenium/
/private_examples/
/src/js/ifs/ifs.js
/plugins/ComplexCurves/lib/ComplexCurves/
.package-lock.json
package-lock.json
/.eslintcache
.DS_Store
