*.c             text
*.cc            text
*.commit        text
*.conf          text
*.cs            text
*.css           text
*.enc           -text
*.eot           -text
*.externs       text
*.frag          text
*.glsl          text
*.html          text
*.ico           -text
*.jar           -text
*.java          text
*.json          text
*.js            text
*.md            text
*.mp4           -text
*.pages         -text
*.pl            text
*.png           -text
*.jpg		-text
*.jpeg		-text
*.pub           text
*.py            text
*.scss          text
*.sh            text
*.svg           text
*.taskpaper     text
*.ttf           -text
*.txt           text
*.woff2         -text
*.woff          -text
*.js.wrapper    text
*.gwt.xml       text
*.vert          text
*.yml           text
*.webm          -text

.git*           text
.jshintrc       text
.mailmap        text

COPYRIGHT       text
LICENSE         text
Makefile        text

*.iml           -text
.idea/**        -text
