div.codeblock { border: 1px solid #66cc66; padding: 3px; margin: 0ex 3em; background: #ddddff; }
div.jsblock { border: 1px solid #66cc66; padding: 3px; margin: 0ex 3em; background: #ddffff; }
pre { margin: 0px; padding: 2px; }
pre.code { color: #000066; margin-top: 1em; padding: 0px; }
pre.code.fst { margin-top: 0px; }
pre.result { color: #006600; background: #ddffdd; }
pre.regexp { color: #99ccaa; background: #eeffdd; }
pre.output { color: #993333; background: #dddddd; }
pre.draw2d { color: #aa9999; background: #ddeedd; }
pre.pragma { color: #996600; background: #ffffcc; }
code { background: #ddddff; }
table { border-collapse:collapse; }
table td, table th { padding: 0.5ex 1em;  border: 1px solid black; }
table td, table th, table code { background: #ffffff; }
