body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* checkerboard */
    background-image: url("images/background.png");
    background-size: 20px 20px;
    background-repeat: repeat;
}
#CSCanvas {
    background-color: rgba(255, 255, 255, 0.9);
}
#CSCanvas.fullscreen {
    width: 100vw !important;
    height: 100vh !important;
}
#CSCanvas.finite {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#inspector-window,
#configuration-window,
#import-window,
#export-window,
#mode-select,
#geometry-window,
#code-window {
    background: rgba(230, 230, 230, 0.7);
    z-index: 100;
    padding: 5px;
    border-radius: 5px;
    border: none;
    position: absolute;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}
#inspector-window-header,
#configuration-window-header,
#import-window-header,
#export-window-header,
#geometry-window-header,
#code-window-header {
    padding: 3px;
    margin: 0px 0px 3px 0px;
    cursor: move;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 3px;
}
#mode-select {
    top: 20px;
    right: 20px;
    font-size: 20px;
}
.used-script {
    font-weight: bold;
}
#inspector-window,
#configuration-window,
#import-window,
#code-window,
#export-window {
    top: 80px;
    right: 20px;
}
#inspector-window,
#configuration-window,
#import-window,
#export-window {
    width: 30vw;
}
#code-window {
    min-width: 30vw;
    max-width: 50vw;
}
.CodeMirror {
    background: rgba(0, 0, 0, 0.8) !important;
    height: auto !important;
}
.CodeMirror-scroll {
    min-height: 200px;
    max-height: 80vh;
}
#geometry-window {
    top: 80px;
    right: 20px;
    width: 50px;
}
#geometry-mode-select {
    overflow-y: hidden;
    overflow: hidden;
    margin: 0;
    border: none;
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
}
#geometry-mode-select div {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1px;
    display: inline-block;
    width: 48px;
    height: 36px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}
#geometry-mode-select .selected {
    background-color: rgba(255, 100, 100, 0.6);
}
#import-url {
    width: 100%;
}
#colorwheelCanvas {
    margin: auto;
    width: 200px;
    height: 200px;
}

.error {
    color: rgb(255, 0, 0);
}

.equal {
}

.different {
    border-color: rgba(0, 0, 0, 0.4);
    border-width: 2px;
    border-style: dotted;
    margin: 2px 0px 2px 0px;
    background-color: rgba(0, 0, 0, 0.1);
}
